<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095281308962-f11au7377p217rkbgmhq4kl7k0ar71u4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095281308962-f11au7377p217rkbgmhq4kl7k0ar71u4</string>
	<key>API_KEY</key>
	<string>AIzaSyAo3DGB1vjUhfoXAprqmapkF9jMHVZeaRo</string>
	<key>GCM_SENDER_ID</key>
	<string>1095281308962</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mibi.chichvirus.chichvirus</string>
	<key>PROJECT_ID</key>
	<string>mibi-abc-game</string>
	<key>STORAGE_BUCKET</key>
	<string>mibi-abc-game.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095281308962:ios:c39ed0b773a85ee6cee17b</string>
	<key>DATABASE_URL</key>
	<string>https://mibi-abc-game.firebaseio.com</string>
</dict>
</plist>